src/main/mule/route.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="apiStartTime-variable" doc:id="c499c4f2-87ab-4279-b00f-c7c12b6dbd4a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apiStartTime" ><![CDATA[%dw 2.0
output application/dw
---
now()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="api-config" />
        
    </flow>
    <flow name="post:\allocateSeat:application\json:api-config">
        <flow-ref doc:name="proc-e-counselling-Invoke_Sub-flow-Invoke" doc:id="e534b9de-dc53-438e-959f-c112e75fa6be" name="proc-e-counselling-Invoke_Sub-flow" />
    </flow>
    <flow name="get:\ping:api-config">
		<flow-ref doc:name="healthCheckSub_Flow-Invoke" doc:id="26d90d03-695a-4cff-8511-85b301bb4f09" name="healthCheckSub_Flow"/>
    </flow>
</mule>
